.container {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #9e768f 0%, #9fa4c4 100%); /* Smoother gradient background */
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fefefe; /* Slightly off-white color for a softer look */
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4.5rem; /* Slightly larger title */
    text-align: center;
    color: #ffefc0; /* Goldish color for elegance */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.shuffleButton, .readingButton {
    margin: 20px;
    padding: 15px 30px; /* Larger padding for a bigger button */
    font-size: 18px; /* Larger font size */
    background-color: #6441a5; /* Deep purple color */
    color: #dcdcdc; /* Light text color for contrast */
    border: none;
    border-radius: 20px; /* More pronounced rounding of edges */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for 3D effect */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.shuffleButton.shuffling {
    background-color: #e09b3d; /* Orange color to indicate activity */
    box-shadow: 0 0 20px #e09b3d; /* Glowing effect */
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Uniform space between cards */
}

.card {
    margin: 10px;
    cursor: pointer;
    border: 3px solid #443f3d; /* More pronounced border color */
    transition: border-color 0.3s, transform 0.3s;
    background-color: #1c1c1c; /* Dark background for card to pop out */
    border-radius: 10px; /* Rounded edges for cards */
    overflow: hidden; /* Ensures no overflow beyond the border radius */
}

.card:hover, .card.selected {
    border-color: #c0a080; /* Highlight color for selection */
    transform: translateY(-10px); /* Slight lift effect on hover/selection */
}

.cardImage {
    width: 100px;
    height: 160px;
    transition: transform 0.3s; /* Smooth transition for images */
}

.cardName {
    font-size: 1.2rem;
    color: #f0e6d2; /* Light color for the text */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Text shadow for readability */
}
.shufflingContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally in the container */
    justify-content: center; /* Center items vertically in the container */
    width: 100%; /* Ensure the container takes full width to center content properly */
    height: auto; /* Adjust height as needed or keep it auto */
    margin-top: 20px; /* Optional: add top margin for spacing */
}
.rotated {
    transform: rotate(180deg); 
}
.tabContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.readingButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6441a5;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.cardStackContainer {
    position: relative;
    width: 120px; /* Adjust width to match your card size */
    height: 180px; /* Adjust height to match your card size */
    margin: 20px;
}

.stackedCard {
    position: absolute;
    top: 0;
    left: 50%; /* Center the cards */
    transform: translateX(-50%); /* Adjust the horizontal positioning */
    transition: transform 0.3s ease-in-out;
    
}

.stackedCardImage {
    
    border-radius: 10px; /* Rounded edges for cards */
    width: 140px; /* Adjust to fit your card dimensions */
    height: 200px; /* Adjust to fit your card dimensions */
    object-fit: cover; /* Ensures the image covers the div without distorting */

        margin: 10px;
        cursor: pointer;
        border: 3px solid #443f3d; /* More pronounced border color */
        transition: border-color 0.3s, transform 0.3s;
        background-color: #1c1c1c; /* Dark background for card to pop out */
        border-radius: 10px; /* Rounded edges for cards */
        overflow: hidden; /* Ensures no overflow beyond the border radius */
    
}

.readingButton:hover, .readingButton.selected {
    background-color: #7a6fb1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between buttons */
    margin-top: 20px;
}

.readingTypeButton {
    background-color: #6441a5; /* Deep purple background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for 3D effect */
}

.readingTypeButton:hover {
    background-color: #7a6fb1; /* Lighter purple on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

.readingTypeButton:active {
    transform: scale(0.95); /* Slightly shrink button when clicked */
    background-color: #563d87; /* Darker purple when active */
}

.questionText {
    font-size: 1.5rem; /* Size of the font */
    color: #f8f8f2; /* Color of the font */
    background-color: #44475a; /* Background color */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Padding inside the container */
    margin: 20px 0; /* Margin for spacing */
    border: 1px solid #6272a4; /* Subtle border color */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    text-align: center; /* Center align the text */
    width: 80%; /* Width of the container */
    max-width: 600px; /* Maximum width */
    margin-left: auto; /* Margins for auto to center the container */
    margin-right: auto;
    word-wrap: break-word; /* Wrap long words */
}

.stopShufflingButton {
    padding: 15px 30px; /* Consistent with other buttons */
    font-size: 18px; /* Large text for visibility */
    background-color: #ff6347; /* Vibrant red color for urgency */
    color: #ffffff; /* White text for contrast */
    border: none;
    border-radius: 20px; /* Rounded edges */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Slight shadow for depth */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for interactions */
    width: auto; /* Remove full width */
    max-width: 300px; /* Maximum button width, adjust as necessary */
    margin: 10px auto; /* Top and bottom margin of 10px, left and right auto for centering */
   
}

.stopShufflingButton:hover {
    background-color: #e05342; /* A slightly darker shade on hover for tactile feedback */
    transform: translateY(-2px); /* Subtle lift effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increased shadow when hovered */
}

.stopShufflingButton, .activityIndicator {
    width: 100%; /* Make button and text take full width of their container */
    text-align: center; /* Center text inside the button and the 'Shuffling...' text element */
    margin: 10px 0; /* Add some vertical margin for spacing */
}

@keyframes shuffleAnimation {
    0%, 100% { transform: scale(1) rotateY(0); }
    25% { transform: scale(1.1) rotateY(180deg); }
    50% { transform: scale(1) rotateY(360deg); }
    75% { transform: scale(1.1) rotateY(180deg); }
}

.shufflingEffect {
    animation: shuffleAnimation 0.6s infinite;
}

.questionInput {
    width: 80%; /* Or any width you prefer */
    height: 100px; /* Or any height you prefer */
    margin-bottom: 20px; /* Spacing */
    padding: 10px; /* Padding inside the textarea */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #ccc; /* Border color */
    font-size: 16px; /* Text size */
    color: #333; /* Text color */
    background-color: #fff; /* Background color */
  }
.reading {
    margin: 20px;
    padding: 20px;
    border: 1px solid #d3d3d3;
    border-radius: 12px; /* Soft rounded edges */
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background for readability */
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px; /* Max width for large screens */
    word-wrap: break-word; /* Ensures text doesn't overflow */
}
